<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="template" abstract="true">
        <property name="name" value="king"/>
    </bean>

    <bean class="com.ys.beanDefinition.abstractXml.A" parent="template" id="a"/>

</beans>